@import "estilosGenerales";
@import "index";
@import "Galeria";
@import "descargar";
@import "Contacto";
@import "comprarchia";
@import "casodeuso";


/*variables*/
$verdechia: rgb(7, 59, 42);

/* *{
    margin: 0;
    padding: 0;
  }
  
  main {
    margin: 10px;
  }
  
  nav ul li {
      display: inline-block;
      margin: -35px;
  }
  
  nav ul li a{
      color: #168e42;
      display: block;
      padding: 1px 125px;
      text-decoration: none;
  }
  
  .navbar-collapse  {
    justify-content: end;
  }
  
  .nav-item {
    padding-right: 90px;
  }
  
  .logochianav {
    margin: -11px;
    margin-left: 79px;
  }
  
  a:hover {
      color:rgb(103, 153, 103)
  }
  p::selection {
      background: rgb(240, 235, 235);
      color: rgb(40, 37, 37);
      text-shadow: 1px 1px #fff;
  }
  body {
      background-color: $verdechia;
      font-family: 'Poppins', sans-serif;
      color: #83f3bb;
    }
    p, 
  ul {
    border: 2px solid rgba(117, 158, 143, 0);
    padding: .5em;
  }
  
  .block,
  li {
    border: 2px solid rgb(60, 170, 130)

    }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  .block {
    display: inline;
  }      
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-container img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 70%);
    filter: sepia(1);
  }
  
  .footer {
    font-size: 1.5rem;
    padding-right:  50px;
    display:flex;
    justify-content: center;
    a i{
    padding: 10px 50px;
    color: white; 
    }
  } */